<!Doctype html>
<html>
<head>
	<title> Download HD Instagram Images </title>
	<style type="text/css">
		body{
			background: black;
			color: #fff;
		}
		.container{
			text-align: center;
			margin: 0 auto;
			width: 500px;
			padding-top: 20%;
		}
	</style>
</head>
<body>
	<div class="container">
	<p><b>Download Instagram HD (Full size)image</b></p>
	<form action="" method="POST">
		<input type="url" name="iurl" placeholder="https://instagram.com/p/777sGAob-_/" required >
		<input type="submit" value="Image URL">
	</form>
	
	</div>
</body>
</html>